<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% load static %}

{% block nav_header %}
<div class="nav-head-container" style="background: radial-gradient(circle, rgba(174,189,238,1) 0%, rgba(148,233,156,1) 100%);
padding: 10px 10px 5px 10px;">
    <div class="nav-head-container">
        <div class="logo">
            <a href="http://nihmec.com/">
                <img src="https://nihmec.com/static/images/NiHMEC.png" alt="NiHMEC" style="width: 50px;
                height: 50px;">
            </a>
        </div>
        <div class="conference-full-name-venue-date">
            <h1 class="full-meaning-nihmec" style="text-transform: uppercase;font-size: 20px;
            font-weight: 700; color: #014e12;">Nigeria Hydrocarbon Measurement Conference</h1>
            {% comment %} <p class="date-venue" style="color: #014e12;"><span>4 - 5th October 2023</span><br>VICTORIA CROWN PLAZA HOTEL, VICTORIA ISLAND, LAGOS, NIGERIA</p> {% endcomment %}
        </div>
    </div>
</div>
{% endblock %}
{% endblock %}
{% block banner %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block importantpages %}
{% endblock %}