
{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% load static %}
{% load wagtailimages_tags %}

{% block content %}

<div class="content">
    <main>
        <h1>{{page.title}}</h1>
        <div class="pre-conference-container">
            <div class="preconference-card">
                <div class="pre-conference-card1 preconference-sub-card">
                    <div class="pre-conference-card-image">
                        <img src="{% static 'images/NiHMEC 2022-0863.jpg' %}" alt="pre-conference-card">
                    </div>
                </div>
                <div class="preconference-card-2 preconference-sub-card">
                    <h2>Training Overview</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla neque commodi quod hic, aperiam enim explicabo culpa suscipit, obcaecati maiores consequuntur quidem dolore at sunt officiis cumque fuga. Similique, autem?</p>
                </div>
            </div>
            <div class="preconference-card">
                <div class="pre-conference-card1 preconference-sub-card">
                    <div class="pre-conference-card-image">
                        <img src="{% static 'images/NiHMEC 2022-0778.jpg' %}" alt="pre-conference-card">
                    </div>
                </div>
                <div class="preconference-card-2 preconference-sub-card">
                    <h2>Objective</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla neque commodi quod hic, aperiam enim explicabo culpa suscipit, obcaecati maiores consequuntur quidem dolore at sunt officiis cumque fuga. Similique, autem?</p>
                </div>
            </div>
            <div class="preconference-card">
                <div class="pre-conference-card1 preconference-sub-card">
                    <div class="pre-conference-card-image">
                        <img src="{% static 'images/NiHMEC 2022-0562.jpg' %}" alt="pre-conference-card">
                    </div>
                </div>
                <div class="preconference-card-2 preconference-sub-card">
                    <h2>Outcomes</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla neque commodi quod hic, aperiam enim explicabo culpa suscipit, obcaecati maiores consequuntur quidem dolore at sunt officiis cumque fuga. Similique, autem?</p>
                </div>
            </div>
            <div class="preconference-card">
                <div class="pre-conference-card1 preconference-sub-card">
                    <div class="pre-conference-card-image">
                        <img src="{% static 'images/NiHMEC 2022-0512.jpg' %}" alt="pre-conference-card">
                    </div>
                </div>
                <div class="preconference-card-2 preconference-sub-card">
                    <h2>Content</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla neque commodi quod hic, aperiam enim explicabo culpa suscipit, obcaecati maiores consequuntur quidem dolore at sunt officiis cumque fuga. Similique, autem?</p>
                </div>
            </div>
        </div>
    </main>
</div>

{% endblock %}


