
{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% load static %}
{% load wagtailimages_tags %}

{% block content %}

<main>
    <h1>{{page.title}}</h1>
    <div class="pre-conference-container">
        <div class="preconference-card">
            <div class="pre-conference-card1">
                <div class="pre-conference-card-image">
                    <img src="{% static 'images/pre-conference-card.png' %}" alt="pre-conference-card">
                </div>
            </div>
            <div class="preconference-card-2">
                <h2>Training Overview</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla neque commodi quod hic, aperiam enim explicabo culpa suscipit, obcaecati maiores consequuntur quidem dolore at sunt officiis cumque fuga. Similique, autem?</p>
            </div>
        </div>
        <div class="preconference-card">
            <div class="pre-conference-card1">
                <div class="pre-conference-card-image">
                    <img src="{% static 'images/pre-conference-card.png' %}" alt="pre-conference-card">
                </div>
            </div>
            <div class="preconference-card-2">
                <h2>Objective</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla neque commodi quod hic, aperiam enim explicabo culpa suscipit, obcaecati maiores consequuntur quidem dolore at sunt officiis cumque fuga. Similique, autem?</p>
            </div>
        </div>
        <div class="preconference-card">
            <div class="pre-conference-card1">
                <div class="pre-conference-card-image">
                    <img src="{% static 'images/pre-conference-card.png' %}" alt="pre-conference-card">
                </div>
            </div>
            <div class="preconference-card-2">
                <h2>Outcomes</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla neque commodi quod hic, aperiam enim explicabo culpa suscipit, obcaecati maiores consequuntur quidem dolore at sunt officiis cumque fuga. Similique, autem?</p>
            </div>
        </div>
        <div class="preconference-card">
            <div class="pre-conference-card1">
                <div class="pre-conference-card-image">
                    <img src="{% static 'images/pre-conference-card.png' %}" alt="pre-conference-card">
                </div>
            </div>
            <div class="preconference-card-2">
                <h2>Content</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla neque commodi quod hic, aperiam enim explicabo culpa suscipit, obcaecati maiores consequuntur quidem dolore at sunt officiis cumque fuga. Similique, autem?</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}


