 {% extends 'base.html' %} {% load wagtailcore_tags %} {% load static %} {% load wagtailimages_tags %} {% block content %}

<main>
    <h1>{{page.title}}</h1>
    <div class="meet-our-speakers main-container">
        <div class="meet-sponsors-header">
            <h2>{{page.speaker_category}}</h2>


        </div>

        <div class="speaker-wrapper" id="speaker-wrapper">
            {% for speaker in speakers %} {% if speaker.speaker_category.speaker_category == page.speaker_category %}
            <div class="speaker-card">
                <div class="speaker-photo">
                    <img src="{{speaker.photo.url}}" alt="">
                </div>
                <div class="speaker-name">
                    <h3>{{speaker.first_name}} {{speaker.surname}}</h3>
                </div>
                <div class="speaker-position-company">
                    {% if speaker.position %}
                    <p>{{speaker.position}}</p>
                    {% else %}
                    <p></p>
                    {% endif %}
                    {% if speaker.company %}
                    <h4>{{speaker.company}}</h4>
                    {% else %}
                    <p></p>
                    {% endif %}
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>
    </div>
</main>
{% endblock %}