 {% extends 'base.html' %} {% load wagtailcore_tags %} {% load static %} {% load wagtailimages_tags %} {% block content %}

<main>
    <h1>{{page.title}}</h1>
    <div class="meet-our-speakers main-container">
        <div class="meet-sponsors-header">
            <h2>{{page.speaker_category}}</h2>


        </div>

        <div class="speaker-wrapper" id="speaker-wrapper">
            {% for speaker in speakers %} {% if speaker.speaker_category.speaker_category == page.speaker_category %}
            <div class="speaker-card">
                <div class="speaker-image-name-container">
                    <div class="speaker-image">
                        <img src="{{speaker.photo.url}}" alt="">
                    </div>
                    <div class="speaker-name-title">
                        <div class="author-name">
                            <p class="person-name">{{speaker.first_name}} {{speaker.surname}}</p>
                        </div>
                        <div class="author-status">
                            {% if speaker.position %}
                            <p class="person-title">{{speaker.position}}</p>
                            {% else %}
                            <p></p>
                            {% endif %}

                            {% if speaker.company %}
                            <p class="person-position">{{speaker.company}} </p>
                            {% else %}
                            <p></p>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
                <div class="speaker-about">
                    <p>{{speaker.short_introduction|richtext}}</p>
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>
    </div>
</main>
{% endblock %}