*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.about p {
  line-height: 28px;   /* within paragraph */
  margin-bottom: 20px; /* between paragraphs */
}
body{
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
html{
    width: 100%;
    padding: 0;
    margin: 0;
}
:root{
    --blue: #2F58CD;
    --green-electric: linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%);
    --light-grey: rgb(230, 230, 230);
    --blue-ocean: #4479e1;
    --heading-blue: #022c80;
    --para-color: rgb(83, 83, 83);
    --green: rgb(0,208,130);
    --blue-ocean-light: #d0d2d6;
}
.navigation-bar-container{
    background: linear-gradient(90deg, #2F58CD 0%, rgba(84,180,53,1) 100%);
    /* background: var(--blue-ocean); */
    padding: 10px 10px 0 10px;
}
.navigation-bar-container *{
    color: #ffffff;
}
.logo img{
    width: 100px;
    height: 100px;
    margin-right: 5px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
}
.nihmec-2023-logo-text p{
    font-weight: 900;
}
.nihmec-2023-logo-text-nihmec{
    font-size: 30px;
}
.nihmec-2023-logo-text-year{
    letter-spacing: 18px;
    font-size: 30px;
}
.nav-head-container{
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: thin#fff solid;
    padding-bottom: 5px;
}
.conference-full-name-venue-date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: fit-content;
    height: fit-content;
    margin-left: 20px;
}
a{
    text-decoration: none;
    width: fit-content;
}
li{
    list-style: none;
}
.conference-full-name-venue-date *{
    text-transform: uppercase;
}
.full-meaning-nihmec{
    font-size: 35px;
    font-weight: 700;
}
.nav-menu{
    padding: 10px 10px 0 10px;
}
.navigation-menu{
    min-height: 30px;
}
.menu{
    margin-left: 20px;
    border: none;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu p{
    text-transform: uppercase;
}
.nav-menu-list-container{
    display: flex;
    align-items: center;
}

.drop-down{
    cursor: pointer;
    position: relative;
    display: inline-block;
}
.drop-down-menu{
    background-color: var(--blue-ocean);
    padding: 10px;
    display: none;
    position: absolute;
    margin-top: 10px;
    z-index: 1;
    border: none;
    min-width: 200px;
}

.drop-down-menu li{
    padding: 5px;
}
.drop-down-menu li{
    transform: scale(1);
    transition: all 0.5s;
}
.drop-down-menu li:hover{
    transform: scale(0.9);
    /* transform-origin: 0,0; */
}

.drop-down:hover .drop-down-menu{
    display: block;
}
.dropdown-main-menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown-main-menu svg{
    fill: #fff;
    width: 15px;
    height: 15px;
    margin-top: 5px;
    margin-left: 5px;
    transition: 0.5s;
}
.drop-down:hover .dropdown-main-menu svg{
    transform: rotate(-180deg);
}
.hamburger{
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.hamburger .ham{
    border: 1.5px rgb(255, 255, 255) solid;
    width: 30px;
    margin-bottom: 5px;
}
.ham-side-nav-bar{
    height: 100vh;
    width: fit-content;
    background: linear-gradient(90deg, #2F58CD 0%, rgba(84,180,53,1) 100%);
    position: absolute;
    left: 0;
    padding: 10px;
    transition: all 0.2s;
    transform: translateX(0);
}
.ham-side-nav-bar p{
    text-transform: uppercase;
}
.ham-side-main-menu{
    padding: 5px;
    cursor: pointer;
    border-bottom: thin dashed white;
}
.ham-side-main-menu:hover{
    background-color: var(--blue-ocean);
}
.ham-side-dropdown-menus{
    transition: all 0.5s;
    padding: 5px;
    height: fit-content;
}
.ham-side-dropdown-menus li{
    background-color: #fff;
    margin-bottom: 5px;
    padding: 5px;
}
.ham-side-dropdown-menus li:hover{
    background-color: var(--grey);
}
.ham-side-dropdown-menus a{
    color: var(--blue);
    display: flex;
    align-items: center;
}
.ham-side-dropdown-menus svg{
    width: 30px;
    height: 20px;
}
.display-none{
    display: none;
    transition: all 0.5s;
}
.translate-left-right{
    transform: translateX(-260px);
}
.ham-side-main-menu{
    display: flex;
    align-items: center;
}
.ham-side-main-menu svg{
    width: 15px;
    height: 15px;
    fill: #fff;
}
.content-container{
    background: url('https://images.unsplash.com/photo-1572480923208-ec3d21d1205d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 10px 80px 10px;
    max-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nihmec-theme{
  padding: 10px;
  border: thin solid #fff;
  color: #fff;
  text-transform: uppercase;
  width: fit-content;
  margin-bottom: 10px;
}
/* Front-cover Styles */
.nihmec-front-cover{
    background-clip: text;
    -webkit-background-clip: text; 
    /* -webkit-text-fill-color: transparent;  */
    background-image: url('/static/images/NiHMEC\ 2022-0859.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 23vw;
    font-weight: 900;
    line-height: 0.8;
    color: transparent;
    height: fit-content;
    text-align: center;
}

.main-container{
    margin-top: 80px;
}


/* STYLING CONFERENCE SHORT INTRO */
.conference-short-introduction{
    padding: 20px;
}
.conference-short-text{
    padding: 20px;
    min-width: 300px;
    /* max-width: 300px; */
    width: 40%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;
}
.conference-short-text-heading{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.conference-short-text-heading svg{
    width: 50px;
    height: 50px;
    fill: var(--blue-ocean);
}
.conference-short-text-heading h2{
    font-size: 18px;
    margin-bottom: 20px;
    color: var(--heading-blue);
}
.conference-short-text p{
    color: var(--para-color);
    font-size: 15px;
    line-height: 1.5;
}
.learn-more-about{
    background-color: var(--green);
    color: #fff;
    padding: 8px 10px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    width: fit-content;
    margin-top: 20px;
}
.learn-more-about:hover{
    background-color: #24740a;
}
.short-intro-images{
    width: 50%;
    height: 300px;
    margin-top: 20px;
}
.short-intro-images img{
    width: 90%;
    max-height: 100%;
    /* max-width: 300px; */
    min-width: 280px;
}
.short-intro-images .image-2{
    margin-top: -200px;
    margin-left: 50px;
    transform: scale(0.7);
}
.conference-short-introduction{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* STYLING OUR SPONSORS */

.meet-our-sponsors{
    margin-top: 40px;
}
.meet-sponsors-header{
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.meet-sponsors-header svg{
    width: 80px;
    height: 70px;
    fill: var(--green);
}
.meet-our-sponsors .slide img{
    max-width: 100px;
    max-height: 100px;
}
.meet-sponsors-header h2{
    text-transform: uppercase;
}

/* STYLING HIGHLIGHT */
.highlight{
    width: 300px;
    height: 300px;
    min-width: 300px;
    margin: 10px;
    position: relative;
    overflow: hidden;
}
.highlight img{
    width: 100%;
    height: 100%;
}
.highlight-cta{
    background-color: var(--green);
    padding: 5px;
    margin-top: -40px;
    z-index: 2;
    position: absolute;
    bottom: 0;
}
.highlight-cta p{
    color: #fff;
    font-weight: 700;
}
.hightlight-full-text{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #55b435ce;
    padding: 10px;
    transform: translateX(-300px);
    transition: 0.2s;
}
.highlight:hover .hightlight-full-text{
    display: block;
    transform: translateX(0);
    cursor: pointer;
}
.hightlight-full-text p{
    color: #fff;
    font-size: 15px;
    /* font-weight: 800; */
}
.conference-highlight{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}
@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  .slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .slider .slide {
    height: 100px;
    width: 250px;
  }

/* TECHNICAL ADVISORY COMMITTEE */
.carousel {
    width: 100%;
    padding: 20px;
    /* background-color: #424242; */
    border-radius: 25px;
  }
  .carousel-card{
    min-width: 280px;
    padding: 20px;
    height: fit-content;

    margin: 10px 10px;
    border: 2px solid white;
    border-radius: 25px;
    background-color: #282828;
    color: white;
  }
  .carousel-card img{
    max-width: 100%;
    max-height: 70%;
  }
  .slick-slide img {
    width: 100%;
    height: 350px;
  }
  
  /* Customize the dots container */
  .slick-dots {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  /* Customize the individual dots */
  .slick-dots li {
    margin: 0 5px;
    list-style: none;
  }
  
  .slick-dots li button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #282828;
    border: none;
    outline: none;
    cursor: pointer;
  }
  /* Remove the numbers next to the dots */
  .slick-dots li button {
    font-size: 0;
    line-height: 0;
  }
  
  
  /* Style the active dot */
  .slick-dots li.slick-active button {
    background-color: white;
  }
  

 

/* MEET OUR SPEAKERS */

  .meet-our-speakers{
    margin-bottom: 40px;
    margin-top: 30px;
  }
.speaker-wrapper{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
}
  
  
.meet-our-speakers .person-name{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 21.7px;
color: #000;
margin: 0;
margin-bottom: 5px;
}

.meet-our-speakers .person-title{
font-family:Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: 700;
color: #000;
margin: 0;
}

/* STYLING SPEAKER CARD */
.speaker-image-name-container{
  display: flex;
  align-items: center;
  justify-content: left;
}
.speaker-image{
  position: relative;
  width:30%;
  max-width: 140px;
  /* float: left; */
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 1.3rem 0rem 1.3rem 0rem;
  z-index: 1;
  margin-right: 10px;
}
.speaker-image img{
  width: 100%;
  height: 100%;
}

.speaker-card{
  /* bottom: unset!important; */
  background: rgba(255, 255, 255, 0.375);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 1.3rem;
  border: 1px solid rgba(255, 255, 255, 0.37);
  width: 33.33% !important;
  min-width: 280px;
  max-width: 420px;
  margin: 10px;
  transition: all 0.3s;
  transform: scale(1);
  z-index: 1;
}
.speaker-card:hover{
  transform: scale(1.07);
  z-index: 3;
}
.speaker-about{
  padding: 8px;
}

.speaker-about p{
  text-align: center;
  font-size: 13px;
}

  
  
/* STYLING ABOUT */
.about{
  /* background-color: #f0efe7; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  height: fit-content;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
.about span{
  color: var(--blue-ocean);
}
.register-container{
  display: flex;
  align-items: first baseline;
  width: 100%;
}
.about-container{
  border-radius: 5px;
  background-color: #fcfcfa;
  border: solid 1px #e2e0d8;
  padding: 22px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  min-width: 300px;
  max-width: 902px;
  /* float: right; */
}
.registration-form-1 label{
  font-weight: 600;
}
.registration-form-1 input{
  width: 100%;
  border: solid thin #f0efe7;
  height: 35px;
  border-radius: 5px;
  padding: 5px;
}
.about-container input:focus{
  outline: thin solid var(--blue-ocean);
  border: none;
}
.payment-cost{
  padding: 8px;
  background-color: #f5f5f5;
  border: solid thin #e2e0d8;
  width: 200px;
}
.payment-cost p{
  color: #f06407;
}
.payment-cost-container{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  max-width: 100%;
}
.form-card{
  margin-bottom: 20px;
  width: 100%;
}
.display-cost{
  display: none;
}
.form-field{
  padding: 10px;
  background-color: #f5f5f5;
  margin-top: 5px;
  width: 90%;
  min-width: 250px;
  border-radius: 5px;
  margin-right: 20px;
}
.pay-btn{
  margin-left: 10px;
  border: none;
  color: #fff;
  background-color: var(--green);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.contact-to-register{
  float:left;
  max-width: 300px;
  background: #f2f5f7;
  border: 1px solid rgba(0,0,0,.058823529411764705);
  box-shadow: 0 1px 1px rgba(0,0,0,.03);
  border-radius: 6px;
  padding: 16px;
  margin: 30px 20px;
}
.contact-to-register *{
  color: #121313;
}


/* STYLING SPONSORSHIP */
.sponsorship-opp-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sponsorship-container{
  background-color: #fff;
  min-width: 700px;
  display: block;
  overflow-x: auto;
}
.sponsorship-container table{
  table-layout: fixed;
  border-spacing: 30px 0;
}
/* .sponsorship-container table tbody{
  display: table;
  width: 100%;

} */
.sponsorship-container table thead th{
  height: 50px;
  
  color: var(--heading-blue);
  border-bottom: thin solid var(--light-grey);
}
.sponsorship-feature{
  color: var(--heading-blue);
  font-size: 25px;
}
.sponsorship-container th, td{
  text-align: left;
  padding: 20px 0;
}
.sponsorship-container table thead th span{
  color: rgb(73, 73, 73);
  font-weight: 400;
}
.sponsorship-container table tbody .sponsorship-feature-data{
  border-bottom: thin solid var(--light-grey);
}
.sponsorship-feature-row-head{
  color: var(--blue-ocean);
  min-width: 200px;
}
.sponsorship-container tfoot{
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 -5px 5px -5px rgba(0,0,0,.1);
  height: 100px;
}

.sponsorship-container tfoot .sponsorship-select a{
  color: var(--green);
  font-weight: 700;
  border: 2px solid var(--green);
  padding: 10px 20px;
  text-align: center;
  
}
.bx-x{
  color: red;
}
.bx-check{
  color: var(--green);
}
.submit-btn{
  background-color: var(--green);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  width: 200px;
  margin-top: 20px;
  max-width: 90%;
  cursor: pointer;
  border: none;
}
.form-card-wordwrap{
  width: 100%;
  display: flex;
  align-items: center;
}
.thank-you-card{
  border-radius: 5px;
  width: 70%;
  min-width: 300px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.thank-you-card svg{
  fill: var(--green);
}

textarea {
  /* demo related */
  width: 99%;
  margin-bottom: 1em;
  display: block;
  
  /* rows related */
  font-size: inherit;
  line-height: inherit;
  padding: 3px;
}
.abstract-form{
  margin-top: 40px;
}

/* STYLING OF PREVIOUS ATTENDEES */
.previous-conference-attenndees-wrapper{
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.previous-attendees-card{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
}
.previous-attendees-card img{
  width: 100%;
  height: 100%;
}
@media (max-width:640px){
    .form-card-wordwrap{
      flex-wrap: wrap;
    }

}
.meet-our-speakers{
    margin-top: 50px;
}

.footer-container *{
    color: #fff;
}

.footer-container{
    padding: 20px;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #2F58CD 0%, rgba(84,180,53,1) 100%);
    position: sticky;
    bottom: 0;
    right: 0;
    left: 0;
}
.footer-container h2{
    font-size: 18px;
}
.quick-link-containers{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.quick-links{
    width: 200px;
    margin: 15px;
}
.quick-links li *{
  text-transform: capitalize;
}
.social-media{
    display: flex;
    align-items: center;
    justify-content: center;
}
.social{
    padding: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border:thin #fff solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.social svg{
    fill: #fff;
}

/* STYLING GALLERY */
.gallery-container{
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
}

@media (max-width: 930px) {
    .hamburger{
        display: flex;
        margin-top: 5px;
    }
    .nav-menu{
        display: none;
    }
    .contact-to-register{
      float:none;
    }
    .register-container{
      flex-wrap: wrap;
    }
}

@media (max-width: 530px) {
    .nav-head-container{
        flex-wrap: wrap;
    }
    .full-meaning-nihmec{
        font-size: 25px;
        margin-top: 20px;
    }
    .date-venue{
        font-size: 14px;
    }
    .footer-container{
      flex-wrap: wrap;
  }
}
@media (max-width: 660px) {
    .short-intro-images{
        width: 100%;
    }
    .conference-short-text{
        
        width: 100%;
    }
}