<!DOCTYPE html> {% extends 'base.html' %} {% load wagtailcore_tags %} {% load static %} {% block content %}

<body>
    <main class="about sponsorship-opp-container">
        <h1>{{page.title}}</h1>


        <div class="register-container">
            <div class="contact-to-register">
                <h3>You can also contact us for exhibition plan</h3>
                <a href="mailto:{{home_page.contact_email}}">{{home_page.contact_email}}</a>
                <a href="tel:{{home_page.contact_phone_number}}">{{home_page.contact_phone_number}}</a>
            </div>
            <div class="exhibition-container">

                <span>A simplified schematic of the conference and exhibition arrangement</span>
                <div class="exhibition-boot-plan">
                    <img src="{% static 'images/nihmec2023_floorplan.PNG' %}" alt="">
                </div>
                <div class="about-container">
                    {{page.intro|richtext}}
                    <form action="{% pageurl page %}" method="post">
                        {% csrf_token %}
                        <h2>Exhibition Interest Form:</h2> <br>

                        <div class="form-card registration-form-1">
                            <div class="form-card-wordwrap">

                                <div class="form-field">
                                    {{form.first_name.label_tag}}
                                    <h6 class="text-danger">{{ form.first_name.errors }}</h6>
                                    {{form.first_name}}
                                </div>
                                <div class="form-field">
                                    {{form.surname.label_tag}}
                                    <h6 class="text-danger">{{ form.surname.errors }}</h6>
                                    {{form.surname}}
                                </div>
                            </div>
                            <div class="form-card-wordwrap">
                                <div class="form-field">
                                    {{form.company.label_tag}}
                                    <h6 class="text-danger">{{ form.company.errors }}</h6>
                                    {{form.company}}
                                </div>
                                <div class="form-field">
                                    {{form.position.label_tag}}
                                    <h6 class="text-danger">{{ form.position.errors }}</h6>
                                    {{form.position}}
                                </div>
                            </div>
                            <div class="form-card-wordwrap">
                                <div class="form-field">
                                    {{form.email_address.label_tag}}
                                    <h6 class="text-danger">{{ form.email_address.errors }}</h6>
                                    {{form.email_address}}
                                </div>
                                <div class="form-field">
                                    {{form.phone.label_tag}}
                                    <h6 class="text-danger">{{ form.phone.errors }}</h6>
                                    {{form.phone}}
                                </div>
                            </div>
                            <div class="form-card-wordwrap">
                                <div class="form-field">
                                    {{form.country.label_tag}}
                                    <h6 class="text-danger">{{ form.country.errors }}</h6>
                                    {{form.country}}
                                </div>
                            </div>
                            <input class="submit-btn" type="submit" value="Submit">
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </main>
</body>
{% endblock %}