<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% load static %}

{% block nav_header %}
{% endblock %}
{% block content %}
<body>
    <main class="about">
        <div class="thank-you-card" style="padding: 20px; margin-top: 10px; border:0.7px solid rgb(59, 59, 59)">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="transform: ;msFilter:;"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm-1.999 14.413-3.713-3.705L7.7 11.292l2.299 2.295 5.294-5.294 1.414 1.414-6.706 6.706z"></path></svg>
            <p>Thank you for your interest in exhibiting at NiHMEC 2023.</p>
            <p>The conference organizing team will contact you shortly on the next step in securing your exhibition spot.</p>
            <p>For more enquiry about the conference, contact <a href="mailto:s.kanshio@fleissen.com">s.kanshio@fleissen.com</a></p>
            <br>
            <p>Kind Regards</p>
            <strong>NiHMEC Team </strong>
            </p>
        </div> <br>
    </main>
</body>
{% endblock %}

{% block footer %}
    
{% endblock %}
