<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% load static %}
{% block google_tag %}   
{% endblock %}
{% block nav_header %}
<div class="nav-head-container" style="background: radial-gradient(circle, rgba(174,189,238,1) 0%, rgba(148,233,156,1) 100%);
padding: 10px 10px 5px 10px; margin-bottom: 20px;">
    <div class="nav-head-container">
        <div class="conference-full-name-venue-date">
            <h1 class="full-meaning-nihmec" style="text-transform: uppercase;font-size: 20px;
            font-weight: 700; color: #04ad59;">WELCOME TO NiHMEC {{home.year}}</h1>
        </div>
        
    </div>
</div>
{% endblock %}
{% block banner %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block importantpages %}
{% endblock %}