<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% load static %}

{% block content %}
<body>
    <main class="about">
        <div class="thank-you-card">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="transform: ;msFilter:;"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm-1.999 14.413-3.713-3.705L7.7 11.292l2.299 2.295 5.294-5.294 1.414 1.414-6.706 6.706z"></path></svg>
            <p>Thank you for registering for NiHMEC 2023.</p>
            <p>Kindly proceed with the payment to complete your registration.</p>
            <p>Confirm if the information below is correct before you make your payment.</p>
            <br>
            <ul>
                <li><span>Full Name: </span>{{first_name}} {{surname}}</li>
                <li><span>Email Address: </span>{{email_address}}</li>
                <li><span>Registering for: </span>{{workshop}}</li>
                <li><span>Number of Registrants: </span>{{number_of_registrants}}</li>
                {% if currency == 'Naira(NGN)' %}
                <li><span>Amount: </span>₦ {{total_cost}}.00</li>
                {% else %}
                <p></p>
                {% endif %}
                
            </ul>
            <br>
            {% if currency == 'Naira(NGN)' %}
            <a class="pay-btn" href="{{ auth_url }}" target="_blank">Make Payment</a>
            {% else %}
            <a class="dollar-pay" href="{{home_page.dollar_payment_link}}" target="_blank">Continue on EventBrite</a>
            {% endif %}
        </div> <br>
        <p><a href="{{ page.get_parent.url }}"><i class='bx bx-arrow-back'></i> Return Home</a></p>
    </main>
</body>
{% endblock %}