<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load qr_code %}
{% load static %}
{% block nav_header %}
{% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
</head>  
<body>
    <main class="about">
        <div class="message">
            <p>
                Congratulations! Your Visitor's Pass for NiHMEC {{home.year}} has been successfully secured. We are delighted to welcome you to an event full of innovation, and opportunities.
            </p>
            <p>Please show your individual QR Code below to print your badge. Please <b>do not</b> share this with anyone as it is a one-use code to print your badge only.</p>
            <p>
                Should you need any assistance or have questions, don’t hesitate to reach out. We hope you have a fantastic time and make the most of your visit!
            </p>
            <p>Best wishes,</p>
            <p>The NiHMEC {{home.year}} Team</p>
        </div>
        <div class="thank-you-card" style="border-radius: 5px;
                width: 100%;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                ">
            <div class="card-head-container" style="
                margin-bottom: 30px;
                background-color: #10492e;
                padding: 20px;
                color: white;
                width: 100%;
                max-width: 90%;">
                <div class="second-header" style="text-wrap: wrap;">
                    <h1 style="margin: 0;
                    padding: 0;
                    font-size: 20px;">NIHMEC</h1>
                    <p style="margin: 0;
                    padding: 0;
                    font-size: 11px;
                    color: white; text-transform: uppercase;">{{home.start_date|date:"j M"}} - {{home.end_date|date:"j M"}} {{home.year}}</p>
                    <p style="margin: 0;
                    padding: 0;
                    font-size: 11px;
                    color: white; text-transform: uppercase; text-wrap: wrap;">{{home.venue}}</p>
                </div>
            </div>
            <div class="thank-you-card-body">
                <h2 class="name" style="font-size: 16px;
                text-align: center; text-transform: uppercase;">{{first_name}} {{last_name}}</h2>
                <h2 class="position" style="font-size: 16px;
                font-weight: 500;
                text-align: center; text-transform: uppercase;">{{position}}</h2>
                <h2 class="name" style="font-size: 16px;
                text-align: center; text-transform: uppercase;">{{company}}</h2>
                <br>
                <div style="text-align: center;">
                    <img src="https://nihmec.com/data:image/png;base64,{{ qr_image }}" alt="QR Code">
                </div>
                <br>
                <h2 class="type" style="font-size: 20px;
                font-weight: 900;
                text-align: center; text-transform: uppercase;">Visitor</h2>
            </div>
            <div class="thank-you-card-bottom" style=" width: 100%; 
                height: 40px; 
                background-color: #10492e;
                margin-top: 30px;">
            </div>
        </div>
        <br>
    </main>
</body>
{% endblock %}

{% block banner %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block importantpages %}
{% endblock %}